body{margin::0; 
 background-color: #589391; }
#banner1{
	display: block;
	background-color:  #33BDC8;
	height:70px ;
	width: 100%
}

}
#menu ul {
	float : left;

}

#menu ul li {
	margin-left: 30px; 
	margin-bottom: 40px;
	float : left;
list-style-type: none;

}



#Visuel {
width:100px;
height:100px;
}

#background:{
 src="http://zupimages.net/up/17/28/edz2.jpg" alt="" /></a>
  background-size: cover;
  background-attachment: fixed
